{% extends 'AppBundle::layout.html.twig' %}

{% set nav = 'personal' %}
{% set sub_nav = 'password' %}


{% block content_header %}
    <h1>修改密码</h1>
{% endblock %}

{% block content_body_boxed %}
    <div class="box-body">
        <form action="{{ path('personal_password') }}" method="post" id="pwd-form">
            <div class="form-group ">
                <label>原密码</label>
                <input type="password" class="form-control" placeholder="" id="old" name="old">
            </div>
            <div class="form-group ">
                <label>新密码</label>
                <input type="password" class="form-control" placeholder="" id="password" name="password">
            </div>
            <div class="form-group ">
                <label>再次输入</label>
                <input type="password" class="form-control" placeholder="" id="replace" name="replace" >
            </div>
            <div class="btn-area">
                <button type='button' class="btn btn-info password-submit">保存</button>
            </div>
        </form>
    </div>
    <script src="{{ asset('bundles/app/js/Controller/Personal/password.js') }}"></script>

{% endblock %}