{% extends 'base.html.twig' %}
{% import "AppBundle::macro.html.twig" as macro %}

{% set body_class = "hold-transition skin-blue sidebar-mini" %}

{% block body %}
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <span class="logo-mini"><b>大学生社团</b></span>
                <span class="logo-lg"><b>大学生社团管理系统</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="hidden-xs">系统管理员</span></a></li>
                        {#<li><a href="{{ path('logout') }}"><span class="hidden-xs">退出</span></a></li>#}
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    {% block sidebar_menu %}


        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {{ asset('resource/adminLTE/icon/hdu.jpg') }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p style="margin-top: 13px">杭电社团</p>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">社团小助手</li>
                    <li class="treeview {% if nav == 'index' %}active{% endif %}">
                        <a href="{{ path('base_index') }}">
                            <i class="fa fa-home"></i> <span>主页</span>
                            {#<span class="pull-right-container">#}
                            {#</span>#}
                        </a>
                    </li>
                    <li class="treeview {% if nav == 'community' %}active{% endif %}">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>社团管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <ul class="treeview-menu">
                            <li {% if sub_nav is defined and sub_nav == 'member' %}class="active"{% endif %}>
                                <a href="{{ path('community_member') }}"><i class="fa fa-circle-o"></i> 社员管理</a>
                            </li>
                            <li><a href="../pages/activity.html"><i class="fa fa-circle-o"></i> 活动管理</a></li>
                            <li><a href="../pages/money.html"><i class="fa fa-circle-o"></i> 经费管理</a></li>
                            <li><a href="../pages/pic.html"><i class="fa fa-circle-o"></i> 图片管理</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>个人信息管理</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../pages/single.html"><i class="fa fa-circle-o"></i> 个人信息管理</a></li>
                            <li><a href="../pages/pwd.html"><i class="fa fa-circle-o"></i> 修改密码</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../pages/Administrator.html">
                            <i class="fa fa-th"></i> <span>管理员管理</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

    {% endblock %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block content_header %}{% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content_body %}
                <div class="box">
                    <div class="box-body">
                        {% block content_body_boxed %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
{% endblock %}