{% extends 'modal-base.html.twig' %}

{% block title %}
    <h4 class="modal-title">
        添加管理员
    </h4>
{% endblock %}

{% block body %}
    <form class="form-horizontal" id="admin-from"
            {% if type == 'add' %}
                action="{{ path('admin_add') }}"
            {% elseif type == 'edit' %}
                action="{{ path('admin_edit', {id: user.id}) }}"
            {% endif %}
          method="POST">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">用户名</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName"  name="username" value="{{ user.username  |default('')}}"
                       placeholder="用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSex" class="col-sm-2 control-label">密码</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputSex" name="password" value=""
                       placeholder="密码">
            </div>
        </div>
    </form>
    <script src="{{ asset('bundles/app/js/Controller/Admin/show.js') }}"></script>
{% endblock %}


{% block footer %}
    <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary show-primary admin-submit">保存</button>
{% endblock %}