{% extends 'AppBundle:newPage:newPage.html.twig' %}

 {%- block bannerMiddle-%}

     <div class="banner-middle">
         <div class="strip"> </div>

         <!-- banner-bottom-grids -->
         <div class="banner-bottom-grids">
             <!-- banner-bottom-left -->
             <div class="col-md-8 banner-bottom-left">
                 <div class="archives">
                     <h2>web前端</h2>
                     <div class="archives-info">
                         <h5>HTML/CSS :</h5>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_a.asp">a</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_font.asp">font</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_input.asp">input</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_object.asp">object</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_table.asp">table</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_ul.asp">ul</a></li>
                                 <li><a href="http://www.w3school.com.cn/tags/tag_li.asp"> li</a></li>
                             </ul>
                         </div>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/css/css_margin.asp">margin</a></li>
                                 <li><a href="http://www.w3school.com.cn/css/css_padding.asp">padding</a></li>
                                 <li><a href="http://www.w3school.com.cn/cssref/pr_border.asp">border</a></li>
                                 <li><a href="http://www.w3school.com.cn/css/css_positioning.asp">position</a></li>
                                 <li><a href="http://w3school.com.cn/cssref/pr_class_display.asp"> display</a></li>
                                 <li><a href="http://www.w3school.com.cn/css/css_pseudo_classes.asp">伪类</a></li>
                                 <li><a href="http://www.w3school.com.cn/css/css_syntax_descendant_selector.asp">派生选择器</a></li>
                             </ul>
                         </div>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/css3/css3_animation.asp">动画</a></li>
                                 <li><a href="http://www.w3school.com.cn/css3/css3_transition.asp">过渡</a></li>
                                 <li><a href="http://www.w3school.com.cn/css3/css3_3dtransform.asp">3D转换</a></li>
                                 <li><a href="http://www.w3school.com.cn/css3/css3_text_effect.asp">文本效果</a></li>
                                 <li><a href="http://www.w3school.com.cn/css3/css3_font.asp">字体</a></li>
                             </ul>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                     <div class="archives-info">
                         <h5>JavaScript :</h5>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/js/js_functions.asp">函数</a></li>
                                 <li><a href="http://www.w3school.com.cn/js/js_obj_intro.asp">对象</a></li>
                                 <li><a href="http://www.w3school.com.cn/js/js_obj_array.asp">数组</a></li>
                                 <li><a href="http://www.w3school.com.cn/js/js_obj_regexp.asp">正则表达式</a></li>
                                 <li><a href="http://www.w3school.com.cn/js/js_obj_date.asp">日期</a></li>
                                 <li><a href="http://www.w3school.com.cn/js/js_obj_string.asp">字符串</a></li>
                             </ul>
                         </div>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/htmldom/dom_events.asp">dom事件</a></li>
                                 <li><a href="http://www.w3school.com.cn/htmldom/dom_properties.asp">dom属性</a></li>
                                 <li><a href="http://www.w3school.com.cn/htmldom/dom_elements.asp">dom元素</a></li>
                                 <li><a href="http://www.w3school.com.cn/json/json_syntax.asp">json</a></li>
                                 <li><a href="http://www.w3school.com.cn/ajax/ajax_intro.asp">ajax</a></li>
                                 <li><a href="http://www.w3school.com.cn/dhtml/dhtml_intro.asp">DHTML</a></li>
                             </ul>
                         </div>
                         <div class="col-md-4 archives-grid">
                             <ul>
                                 <li><a href="http://www.w3school.com.cn/jquery/jquery_animate.asp">jquery动画</a></li>
                                 <li><a href="http://www.w3school.com.cn/jquery/jquery_slide.asp">jQuery滑动</a></li>
                                 <li><a href="http://www.w3school.com.cn/jquery/jquery_dom_get.asp">jQuery获取</a></li>
                                 <li><a href="http://www.w3school.com.cn/jquery/jquery_traversing.asp">jQuery遍历</a></li>
                             </ul>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                     <div class="archives-info">
                         <h5>Bootstrap  :</h5>
                         <div class="archives-grid archives-left">
                             <ul>
                                 <li><a href="http://v3.bootcss.com/getting-started/#grunt">安装bootstrap</a></li>
                                 <li><a href="http://v3.bootcss.com/getting-started/#examples">实例精选</a></li>
                                 <li><a href="http://v3.bootcss.com/getting-started/#support">浏览器和设备支持情况</a></li>
                                 <li><a href="http://v3.bootcss.com/css/#responsive-utilities">响应式工具</a></li>
                                 <li><a href="http://v3.bootcss.com/css/#less">less</a></li>
                                 <li><a href="http://v3.bootcss.com/css/#sass">sass</a></li>
                                 <li><a href="http://v3.bootcss.com/components/#navbar">导航条</a></li>
                                 <li><a href="http://v3.bootcss.com/css/#helper-classes">javascript插件</a></li>
                                 <li><a href="http://v3.bootcss.com/customize/">定制并下载bootstrap</a></li>
                                 <li><a href="http://expo.bootcss.com/">网站实例</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- //banner-bottom-left -->
             <!-- banner-bottom-right -->
             <div class="col-md-4 banner-bottom-right">
                 <div class="banner-bottom-left-grids">
                     <div class="advertisement">
                         <h3>example</h3><br/>
                         <a href="https://getmagpie.com/"><img src="images/wang1.png"></a>
                     </div>
                     <div class="sponsors">
                         <h3>example</h3>
                         <div class="sponsors-grids">
                             <div class="sponsors-grid-left">
                                 <div class="sponsors-grid">
                                     <a href="https://famebit.com/"><img src="images/wang2.png"></a>
                                 </div>
                             </div>
                             <div class="sponsors-grid-left">
                                 <div class="sponsors-grid">
                                     <a href="https://beta.tablehero.com/"><img src="images/wang3.png"></a>
                                 </div>
                             </div>
                             <div class="clearfix"> </div>
                         </div>
                     </div>
                     <div class="video">
                         <h3>study Video</h3>
                         <iframe src="http://www.imooc.com/video/11632" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                     </div>
                     <div class="twitter">
                         <h3>bbs</h3>
                         <div class="twitter-info">
                             <p><a href="http://www.jsgho.net/">技术员--真正属于菜鸟的天堂!  </a>
                             </p>
                         </div>
                         <div class="twitter-info">
                             <p><a href="http://www.csdn.net/">CSDN.NET - 全球最大中文IT社区，给软件开发者和IT从业者提供知识传播、职业发展、软件开发等全生命周期服务</a>
                             </p>
                         </div>
                         <div class="twitter-info">
                             <p><a href="http://community.itbbs.cn/">IT技术论坛 - 专业的计算机技术交流社区</a>
                             </p>
                         </div>
                         <div class="twitter-info">
                             <p><a href="http://www.itpub.net/">ITPUB技术论坛_中国最专业的IT技术社区</a>
                             </p>
                         </div>
                     </div>
                     <div class="recent-posts">
                         <h3>Recent blog</h3>
                         <ul>
                             <li><a href="http://blog.csdn.net/zhou2s_101216/article/details/51260098">AngularJS（1）——AngularJS指令机制</a></li>
                             <li><a href="http://blog.csdn.net/leiwen_su/article/details/51281065">CSS3基础第三篇（布局相关，媒体查询，用户界面）</a></li>
                             <li><a href="http://blog.csdn.net/gameloft9/article/details/51228191">仅用原生JavaScript手写DOM事件模型</a></li>
                             <li><a href="http://blog.csdn.net/fareise/article/details/51278305">JavaScript知识总结—cookie及其应用</a></li>
                             <li><a href="http://blog.csdn.net/lovejulyer/article/details/51273470">《CSS设计指南》笔记--CSS工作原理</a></li>
                             <li><a href="http://blog.csdn.net/leiwen_su/article/details/51258338">CSS3基础第一篇（圆角，阴影，渐变，选择器）</a></li>
                             <li><a href="http://blog.csdn.net/qq_27917627/article/details/51255442"> sass、less和stylus的安装使用和入门实践</a></li>
                             <li><a href="http://blog.csdn.net/a153375250/article/details/51251721"> 使用jQuery让事件动起来</a></li>
                         </ul>
                     </div>
                 </div>
             </div>
             <!-- banner-bottom-right -->
             <div class="clearfix"> </div>
             <div class="up-arrow">
                 <a class="scroll" href="#home">Back to Top</a>
             </div>
         </div>
         <!-- //banner-bottom-grids -->
     </div>
 {%- endblock -%}
