
{% extends 'AppBundle:newPage:newPage.html.twig' %}

 {%- block bannerMiddle-%}

<div class="banner-middle">
    <div class="strip"></div>

    <!-- banner-bottom-grids -->
    <div class="banner-bottom-grids">
        <!-- banner-bottom-left -->
        <div class="col-md-8 banner-bottom-left">
            <div class="banner-bottom-left-grids travel-bottom-left">
                <h2>Latest Travel</h2>
                <div class="col-md-6 banner-left-grid travel-left-grid">
                    <h6>Japan</h6>
                    <span>five days | 2015.12</span>
                    <a href="travel.html"><img src="images/sc1.jpg" alt=""/></a>
                    <p> 富士山（日文：富士山/ふじさん，英文：Fujisan），是日本国内最高峰，日本重要国家象征之一。横跨静冈县和山梨县的活火山，接近太平洋岸，东京西南方约80公里。
                        富士山被日本人民誉为“圣岳”，是日本民族的象征。作为日本的国家象征之一，在全球享有盛誉。它也经常被称作“芙蓉峰”或“富岳”以及“不二的高岭”。自古以来，这座山的名字就经常在日本的传统诗歌“和歌”中出现。日本诗人曾用“玉扇倒悬东海天”、“富士白雪映朝阳”等诗句赞美它。
                        富士山是世界上最大的活火山之一。目前处于休眠状态，但地质学家仍然把它列入活火山之类。自781年有文字记载以来，共喷发了18次，最后一次喷发是在1707年，此后休眠至今。</p>
                </div>
                <div class="col-md-6 banner-left-grid travel-left-grid">
                    <h6>Korea</h6>
                    <span>ten days| 2015.5</span>
                    <a href="travel.html"><img src="images/sc2.jpg" alt=""/></a>
                    <p>
                        首尔（谚文：서울；英文：Seoul），全称首尔特别市（谚文：서울특별시/汉字：서울特别市），旧称汉城。大韩民国首都，是朝鲜半岛最大的城市，亚洲主要金融城市之一；也是全韩的政治、经济、科技、文化中心。
                        首尔位于韩国西北部的汉江流域，朝鲜半岛的中部。最早为传疑时代的真番，辰国等后被统称为三韩部落的栖居地，1394年朝鲜国王李成桂迁都汉阳并改为汉城。1948年起改称韩语固有词“서울”（首都的意思），成为朝鲜半岛唯一没有汉字名的城市。2005年1月，韩国政府宣布“서울”的中文翻译名称正式更改为“首尔”。</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="banner-bottom-left-grids travel-bottom-left">
                <div class="col-md-6 banner-left-grid travel-left-grid">
                    <h6>America</h6>
                    <span>four days | 2014.8</span>
                    <a href="travel.html"><img src="images/sc3.jpg" alt=""/></a>
                    <p>美利坚合众国（United States of
                        America），简称美国，是由华盛顿哥伦比亚特区、50个州和关岛等众多海外领土组成的联邦共和立宪制国家。其主体部分位于北美洲中部，美国中央情报局《世界概况》1989年至1996年初始版美国总面积是
                        9,372,610
                        km²，1997年修正为963万平方公里（加上五大湖中美国主权部分和河口、港湾、内海等沿海水域面积），人口3.2亿，通用英语，是一个移民国家,其科研经费投入之大、研究型高校企业之多、科研成果之丰富堪称世界典范。虽然面临各种国内问题，美国还是因其较为健全的法律制度、健康的生活环境、顶尖的教育资源等，继续吸引着世界各地的人来这里追逐美国梦
                        。</p>
                </div>
                <div class="col-md-6 banner-left-grid travel-left-grid">
                    <h6>Australia</h6>
                    <span>six days | 2014.3</span>
                    <a href="travel.html"><img src="images/sc4.jpg" alt=""/></a>
                    <p> 澳大利亚（Australia），全称为澳大利亚联邦（The Commonwealth of
                        Australia）。其领土面积7686850平方公里，四面环海，是世界上唯一国土覆盖整个大陆的国家。拥有很多独特的动植物和自然景观的澳大利亚，是一个奉行多元文化的移民国家。同时，澳大利亚也是世界上放养绵羊数量和出口羊毛最多的国家，也被称为“骑在羊背的国家”。澳大利亚人口高度都市化，近一半国民居住在悉尼和墨尔本两大城市，全国多个城市曾被评为世界上最适宜居住的地方之一。其也是一个体育强国，常年举办全球多项体育盛事。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- post -->
            <div class="post">
                <h3>Latest Posts</h3>
                <div class="post-grids">
                    <div class="col-md-4 post-left">
                        <img src="images/p1.jpg" alt=""/>
                    </div>
                    <div class="col-md-8 post-right">
                        <p class="text">Search for knowledge, read more, sit on your front porch and admire the view
                            without paying attention to your needs.
                            寻找更多的知识，多读一些书，坐在你家的前廊里，以赞美的眼光去享受眼前的风景，不要带上任何功利的想法</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-grids">
                    <div class="col-md-4 post-left">
                        <img src="images/p2.jpg" alt=""/>
                    </div>
                    <div class="col-md-8 post-right">

                        <p class="text">Friendship isn't about whom you've known the longest, it's about who came, and
                            never left your side.——朋友不是那个你认识得最久的人，而是那个来到你身边后便不再离开的人。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-grids">
                    <div class="col-md-4 post-left">
                        <img src="images/p3.jpg" alt=""/>
                    </div>
                    <div class="col-md-8 post-right">

                        <p class="text">Travel the greatest benefit, not to see how many people, see more beautiful
                            scenery, but walked, in a fate, suddenly find
                            themselves.旅行最大的好处，不是见到多少人，见过多美的风景，而是走着走着，在一个际遇下，突然重新认识了自己。</p>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //post -->
        </div>
        <!-- //banner-bottom-left -->
        <!-- banner-bottom-right -->
        <div class="col-md-4 banner-bottom-right">
            <div class="banner-bottom-left-grids">

                <div class="advertisement">
                    <h3>FOOD</h3><br>
                    <img src="images/xia.jpg" alt="">
                </div>
                <div class="sponsors">

                    <div class="sponsors-grids">
                        <div class="sponsors-grid-left">
                            <div class="sponsors-grid">
                                <img src="images/guo.jpg" alt="">
                            </div>
                        </div>
                        <div class="sponsors-grid-left">
                            <div class="sponsors-grid">
                                <img src="images/shousi.jpg" alt="">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="video">
                    <h3>food Video</h3>
                    <iframe src="https://www.bilibili.com/video/av4067880/" width="500" height="281" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="twitter">
                    <h3>food history</h3>
                    <div class="twitter-info">
                        <p>石磨的普及,肉类开始加工
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>八珍的出现,四大菜系诞生
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>吃在汉唐,茶食在辽金
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>忽必烈的涮羊肉,北京的宫廷菜
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>官府菜的演变
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>满汉全席大餐
                        </p>
                    </div>
                </div>
                <div class="recent-posts">
                    <h3>food post bar</h3>
                    <ul>
                        <li><a href="http://tieba.baidu.com/p/4439578680">超级奶爸的美食人生</a></li>
                        <li><a href="http://tieba.baidu.com/p/2802759260">新手妈妈发个一家三口的早餐帖</a></li>
                        <li><a href="http://tieba.baidu.com/p/3580908706">三个人的美食世界</a></li>
                        <li><a href="http://tieba.baidu.com/p/4036469743">高一减肥成功妹子的平淡日常</a></li>
                        <li><a href="http://tieba.baidu.com/p/4059799918">来来来～走过路过不要错过哦、！、！、！</a></li>
                        <li><a href="http://tieba.baidu.com/p/4461311555">这个点，我正在犯罪......</a></li>
                        <li><a href="http://tieba.baidu.com/p/4433068567">吃货的日常。。。</a></li>
                        <li><a href="http://tieba.baidu.com/p/3340671130">留韩妹子带你吃遍世界各地</a></li>
                        <li><a href="http://tieba.baidu.com/p/4450339717">晒晒日常美食</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- banner-bottom-right -->
        <div class="clearfix"></div>
        <div class="up-arrow">
            <a class="scroll" href="#home">Back to Top</a>
        </div>
    </div>
    <!-- //banner-bottom-grids -->
</div>

 {%- endblock -%}