base_index:
    path: /
    defaults: { _controller: AppBundle:Index:index }


community_member:
    path: /community/member/{communityId}
    defaults: { _controller: AppBundle:Community:member }

community_member_add:
    path: /community/{communityId}/member/add
    defaults: { _controller: AppBundle:Community:memberAdd }

community_member_edit:
    path: /community/{communityId}/member/edit/{id}
    defaults: { _controller: AppBundle:Community:memberEdit }

community_member_delete:
    path: /community/member/delete/{id}
    defaults: { _controller: AppBundle:Community:memberDelete }

community_activity:
    path: /community/{communityId}/activity
    defaults: { _controller: AppBundle:Community:activity }

community_activity_add:
    path: /community/{communityId}/activity/add
    defaults: { _controller: AppBundle:Community:activityAdd }


community_money:
    path: /community/{communityId}/money/{type}
    defaults: { _controller: AppBundle:Community:money , type: 'in'}

community_money_add:
    path: /community/{communityId}/money/{type}/add
    defaults: { _controller: AppBundle:Community:moneyAdd , type: 'in'}

community_money_edit:
    path: /community/{communityId}/money/{type}/edit/{id}
    defaults: { _controller: AppBundle:Community:moneyEdit , type: 'in'}

community_money_delete:
    path: /community/money/{id}
    defaults: { _controller: AppBundle:Community:moneyDelete }

community:
    path: /community/{category}
    defaults: { _controller: AppBundle:Community:index, category: 'video' }

personal:
    path: /personal/normal/{type}
    defaults: { _controller: AppBundle:Personal:index , type: 'interest' }