.list-box{width:100%;text-align: center;margin-left:300px;margin-top: 30px;}
.list-box .h1{margin-left: 50px;}
.list{border:2px solid #666;padding:5px;width:200px;height:170px;float: left;margin-right: 10px;background: #a3d0ef}
.left{width:1040px;margin-left:290px;margin-top: 50px;}
.word{background: #00acd6;padding: 3px;width:1040px;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border: 1px solid #a3d0ef;}