.label{border-radius: 25px;padding: 2.5em;}
/*.tab-pane{position: relative;}*/
/*.tab-pane:nth-child(1) a:nth-child(1){position: absolute;left:-1em;top:-1em;}*/
/*.tab-pane:nth-child(1) a:nth-child(2){position: absolute;left:12em;top:-1em;}*/
/*.tab-pane:nth-child(1) a:nth-child(3){position: absolute;left:-1em;top:9em;}*/
/*.tab-pane:nth-child(1) a:nth-child(4){position: absolute;left:12em;top:9em;}*/
/*.tab-pane:nth-child(1) a:nth-child(5){position: absolute;left:27em;top:-1em;}*/
/*.tab-pane:nth-child(1) a:nth-child(6){position: absolute;left:27em;top:9em;}*/
/*.tab-pane:nth-child(2) a:nth-child(1){position: absolute;left:-1em;top:-1em;}*/
/*.tab-pane:nth-child(2) a:nth-child(2){position: absolute;left:12em;top:-1em;}*/
/*.tab-pane:nth-child(2) a:nth-child(3){position: absolute;left:27em;top:-.8em;}*/
/*.tab-pane:nth-child(2) a:nth-child(4){position: absolute;left:43em;top:-.7em;}*/
/*.tab-pane:nth-child(2) a:nth-child(5){position: absolute;left:-1em;top:9em;}*/
/*.tab-pane:nth-child(2) a:nth-child(6){position: absolute;left:12em;top:9em;}*/
/*.tab-pane:nth-child(2) a:nth-child(7){position: absolute;left:27em;top:9em;}*/
/*.tab-pane:nth-child(2) a:nth-child(8){position: absolute;left:43em;top:9em;}*/
/*.tab-pane:nth-child(3) a:nth-child(1){position: absolute;left:-1em;top:-1em;}*/
/*.tab-pane:nth-child(3) a:nth-child(2){position: absolute;left:12em;top:-1em;}*/
/*.tab-pane:nth-child(3) a:nth-child(3){position: absolute;left:-1em;top:9em;}*/
/*.tab-pane:nth-child(3) a:nth-child(4){position: absolute;left:12em;top:9em;}*/
/*.tab-pane:nth-child(3) a:nth-child(5){position: absolute;left:27em;top:-1em;}*/
/*.tab-pane:nth-child(3) a:nth-child(6){position: absolute;left:27em;top:9em;}*/
/*.tab-pane:nth-child(4) a:nth-child(1){position: absolute;left:-1em;top:-1em;}*/
/*.tab-pane:nth-child(4) a:nth-child(2){position: absolute;left:12em;top:-1em;}*/
/*.tab-pane:nth-child(4) a:nth-child(3){position: absolute;left:28em;top:-1em;}*/
/*.tab-pane:nth-child(5) a:nth-child(1){position: absolute;left:-1em;top:-1em;}*/
/*.tab-pane:nth-child(5) a:nth-child(2){position: absolute;left:12em;top:-1em;}*/
/*.tab-pane:nth-child(5) a:nth-child(3){position: absolute;left:-1em;top:9em;}*/
/*.tab-pane:nth-child(5) a:nth-child(4){position: absolute;left:12em;top:9em;}*/